@page {
    size: A4;
    margin-bottom: 32px;
}

/** Define now the real margins of every page in the PDF **/
body {
    margin-bottom: 2.5cm;
    color: #64748B;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

div {
    width: 100%;
    display: block;
}

header {
    text-align: center;
    padding-bottom: 24px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    color: #AAAAAA;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

footer p {
    font-size: 14px;
}

.page-number {
    margin-top: 14px;
}

.page-number:after {
    content: counter(page);
}

.table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
    /*text-transform: uppercase;*/
    font-size: 16px;
}

th, td {
    padding: 8px;
}

h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 6px;
}

h1 { font-size: 48px }
h2 { font-size: 36px }
h3 { font-size: 30px }
h4 { font-size: 24px }
h5 { font-size: 20px }
h6 { font-size: 18px }
