html {
    color: inherit;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input, select, textarea {
    color: rgb(75 85 99)
}

input::placeholder, textarea::placeholder {
    opacity: 0.7;
}

html, body {
    margin: 0;
    height: 100%;
}

